body {
    background-color: #9986aa;
}

h1 {
    color: #4A2545;
    text-align: center;
    font-size: 3em;
}

nav a{
    text-decoration: none;
    color: #4A2545;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
}

nav a:hover {
    background-color: #4A2545;
    color: #DCCCA3;
    border-radius: 10px;
}

.categoria {
    border: solid 3px #4A2545;
    text-align: center;
    margin: 10px;
    border-radius: 10px
}

.categoria .nombrecat {
    color: #4A2545;
    font-size: 2em;
}

.pelicula {
    width: 400px;
    height: 250px;
    display: inline-block;
    justify-content: center;
}

.pelicula:hover {
    background-color: #4A2545;
    color: #DCCCA3;
    border-radius: 10px;
}

.nombre {
    text-align: center;
}